page-pref {

    .list-header{
        font-size: 1.25em;
        color: black;
    }

    .latBorder{
        display: block;
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 0;
        padding-top: -5px;
        padding-bottom: -10px;
        border-bottom: outset #273746;
        border-top: none;
        width: 365px;
    }
    
    .text{
        display: block;
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
