page-pref {
    .list-header{
        display: block;
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 0;
        color: black;
        padding-top: -5px;
        padding-bottom: -10px;
        border-top: none;
        border-left: outset #273746;
        border-bottom: outset #273746;
        border-radius: 25px;
        width: 250px;
    }
    
}
